@model IEnumerable<CronosAgency.Models.Role>

@{
    ViewData["Title"] = "Index";
}
<h1>Lista de Papéis</h1>
<button asp-action="Create" class="btn btn-primary">Adicionar novo</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary m-1">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary m-1">Ver</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
