@model CronosAgency.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Agência Cronos";
}
<!-- banner -->
<img src="~/images/cronos-banner.png" />
<!-- banner -->
<h1>Serviços</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Services)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>Membros</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) + " " + @Html.DisplayFor(modelItem => item.Surname)
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>Posts do Blog</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    <a href="./@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
            </tr>
        }
    </tbody>
</table>